
html{
    font-size: 62.5%;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 2rem;
    color: black;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: $main-font;
}

hr{
    width: 5%;
}