
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 2rem;
    color: black;
    font-family: $sub-font;
}

p{
    line-height: 3.2rem;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

a:visited{
    color: teal;
}

h1, h2, h3, h4{
    font-family: $main-font;
}

hr{
    width: 5%;
    height: 0.4rem;
    background: rgb(125, 119, 211);
}

ul{
    list-style-type: none;
}

input:focus{
    border: 3px dotted tomato;
    background: $special-purple;

}

input:focus::placeholder{
     color: white;
}

 
::placeholder{
     color: teal;
}

textarea:focus{
     border: 3px dotted tomato;
    background: $special-purple;
}

textarea:focus::placeholder{
    color: white;
}

button:focus{
    background: teal;
    color: white;
}

.footer-icon-list li:focus{
    color: teal;
    background: $special-purple;
}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}