
html{
    font-size: 62.5%;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 2rem;
    color: black;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: $main-font;
}

hr{
    width: 5%;
}

ul{
    list-style-type: none;
}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}