footer{
    text-align: center;
    padding: 2rem 0;
    background: $section-color1;
    p{
        margin: 0;
    }
    
}

.credit{
    margin-top: 2rem;
    @include iphonePlus{
        font-size: 1.8rem;
    }
}