header{
    background: linear-gradient(rgba(75, 66, 122, 1), rgba(0, 0, 0, 0.7)), url("../images/hero-background.jpg");
    height: 90vh;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    @include smallLaptop{
        height: 60vh;
    }
    @include ipad{
        height: 60vh;
    }
    @include iphonePlus{
        height: 90vh;
    }
    @include iphone5{
        height: 100vh;
    }
}





// .hamburger-toggle{
//     position: absolute;
//     top: 10rem;
//     right: 0;
//     z-index: 10000;
// }

.hamburger-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    // filter: opacity(0.8);
    transition: all 1s;
    background: #A6A3CE;
    // width: 50%;
    // height: 60vh;
    position: absolute;
    top: 0rem;
    right: 0;
    left: 0;
    // padding: 3rem 1rem;
    z-index: 50;
    animation: swing-in-top-fwd 0.6s forwards;
    a{
        color: black;
    }
    a:hover{
        color: white;
    }
    li{
        margin: 2rem;
    }
    @include ipad{
        // left: -4rem;
        justify-content: center;
        padding: 0;
        margin: 0;
        height: 9vh;
        // flex-wrap: no-wrap;
        align-items: flex-start;
        flex-direction: column;
        li{
            margin: 1.5rem;
        }
    }
    @include iphonePlus{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: no-wrap;
        padding: 0;
        margin: 0;
        height: 40vh;
        padding: 2rem;
        align-items: flex-start;
        li{
            margin: 1rem;
        }
    }
    @include iphone678{
        height: 50vh;
    }
    @include iphone5{
        height: 50vh;
    }
}

.hide-menu{
    display: none;
    transition: all 1s;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    // height: 10vh;
    width: 100%;
    position: relative;
}

nav label{
    display: block;
    font-size: 6.5rem;
    z-index: 10000;
    color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 10000;
    @include iphone5{
        top: 0;
    }
}

.hamburger-toggle{
    opacity: 0;
}

.reveal-menu{
    display: block;
}

h1{
    font-family: $main-font;
    font-size: 7.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 0 0 3.5rem 0;
    text-align: center;
    @include ipad{
        font-size: 6.5rem;
    }
    @include iphonePlus{
        font-size: 4.5rem;
    }
    @include iphone5{
        font-size: 4rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
}

header h2{
    font-family: $sub-font;
    font-weight: 700;
    color: white;
    // text-transform: uppercase;
    margin: 0;
    margin: 0 0 2.5rem 0;
    font-size: 3.5rem;
    text-align: center;
    @include ipad{
        font-size: 3.4rem;
    }
    @include iphonePlus{
        font-size: 3rem;
    }
    @include iphone5{
        font-size: 2.5rem;
        margin: 0;
    }
}


.hero-center-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    @include iphone5{
        padding-top: 5.5rem;
    }
}

.profile-picture{
    width: 25%;
    position: absolute;
    bottom: -8rem;
    animation: rotate-diagonal-1 1s forwards;
    img{
        border-radius: 50%;
        width: 100%;
        border: 10px solid whitesmoke;
    }
    @include smallLaptop{
        width: 30%;
    }
    @include ipad{
        bottom: -8rem;
        width: 40%;
    }
    @include iphonePlus{
        width: 80%;
    }
     @include iphone5{
        width: 80%;
        bottom: -1rem;
    }
}

.header-icon-list{
    display: flex;
    list-style-type: none;
    padding: 0 0 2.5rem 0;
    li{
        margin: 0 1rem;
    }
}

// animations courtesy Animista.net

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
  }
}


@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

