// About me section styles begin.

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    h2{
        font-size: 4rem;
        margin: 0;
    }
    p{
        width: 50%;
        margin-top: 2rem;
    }
}

// end of About me section styles

// Skills section styles begin

.skills{
    background: $section-color1;
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 5rem;
    h2{
        margin: 0;
    }
}

.skills-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0 5rem 0;
    margin: 0;
    i{
        display: block;
        font-size: 5.8rem;
        margin-bottom: 1.5rem;
    }
    li{
        margin: 1rem 2.5rem;
    }
    svg{
        display: block;
        font-size: 5.8rem;
        margin-bottom: 1.5rem;
    }
}

.skill-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}

// End of skills section styles

// Recent work section styles begins

.recent-work{
    h2{
        text-align: center;
        margin: 0;
    }
}