h2{
    font-size: 4.5rem;
}

// About me section styles begin.


.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8.5rem;
    padding-top: 4rem;
    h2{
        font-size: 4rem;
        margin: 0;
    }
    p{
        width: 50%;
        margin-top: 2rem;
        line-height: 2.7rem;
        @include smallLaptop{
            width: 70%;
        }
        @include ipad{
            width: 75%;
        }
    }
}

// end of About me section styles

// Skills section styles begin

.skills{
    // background: $section-color1;
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 5rem;
    h2{
        margin: 0;
    }
}

.skills-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0 5rem 0;
    margin: 0;
    i{
        display: block;
        font-size: 5.8rem;
        margin-bottom: 1.5rem;
        @include ipad{
            margin-top: 1.5rem;
        }
    }
    li{
        margin: 1rem 2.5rem;
    }
    svg{
        display: block;
        font-size: 5.8rem;
        margin-bottom: 1.5rem;
         @include ipad{
            margin-top: 1.5rem;
        }
    }
}

.skill-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}

// End of skills section styles

// Recent work section styles begins

.recent-work{
    margin-top: 5rem;
    padding: 6rem 0;
    background: $section-color1;
    position: relative;
    h2{
        text-align: center;
        margin: 0;
    }
}

.flickity-button{
    position: absolute;
    top: 5rem;
}

.recent-work-nav ul{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.recent-work-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
}

.recent-work-box{
    // width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        width: 50%;
        @include ipad{
            width: 70%;
        }
    }
}

.recent-work-info{
    // width: 50%;
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        padding: 0;
        justify-content: space-around;
        @include ipad{
        margin-bottom: 4rem;
    }
    }
    li, svg{
        font-size: 2.3rem;
        // width: 30%;
    }
    i{
        font-size: 4rem;
    }
}

.screenshot-container{
    width: 50%;
    margin: 2rem 0;
    img{
        width: 100%;
    }
    @include ipad{
        width: 70%;
    }
}

.recent-work-links a{
    font-size: 2.5rem;
    font-family: $main-font;
    margin-bottom: 3rem;
    border: 2px solid #a6a3ce;
    color: black;
    padding: 3rem;
    text-align: center;
    display: inline-block;
}

.recent-work-links a:hover{
    background: blue;
    color: white;

}


// recent work section styles end

// contact section styles begin


.contact-form{
    padding: 5rem 0 5rem 0;
    background: linear-gradient(rgba(75, 66, 122, 1), rgba(0, 0, 0, 0.7));
    color: white;
    h2{
        text-align: center;
        color: white;
    }
}

form{
    border: 2px solid white;
    padding: 5rem;
    // width: 90%;
    textarea{
        width: 100%;
        margin-top: 2rem;
        resize: none;
    }
    input{
        width: 45%;
    }
    button{
        width: 15rem;
        height: 5rem;
        border-radius: 5px 5px;
        margin: 0 auto;
        display: block;
        margin-top: 2rem;
    }
    button:hover{
        background: tomato;
    }
}


.name-email-box{
    display: flex;
    justify-content: space-between;
}

.contact-box-flex{
    display: flex;
    justify-content: space-around;
    i{
        display: inline;
        margin: 0 1.5rem;
        font-size: 3rem;
    }
    h4{
        margin: 0;
        margin-bottom: 1.5rem;
    }
    p{
        margin: 0;
        // padding-bottom: 0.5rem;
    }
}

.contact-box{
    border-radius: 10%;
    // background: tomato;
    // flex: 1 0 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}


.footer-icon-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    li{
        margin: 0 1rem;
    }
    i{
        color: white;
    }
}
