article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 2rem;
  color: black;
  font-family: "Lato", sans-serif;
}

p {
  line-height: 3.2rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
}

hr {
  width: 5%;
  height: 0.4rem;
  background: #7d77d3;
}

ul {
  list-style-type: none;
}

input:focus {
  border: 3px dotted tomato;
  background: #7a76b3;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#4b427a), to(rgba(0, 0, 0, 0.7))), url("../images/hero-background.jpg");
  background: linear-gradient(#4b427a, rgba(0, 0, 0, 0.7)), url("../images/hero-background.jpg");
  height: 90vh;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

@media (max-width: 1000px) {
  header {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  header {
    height: 60vh;
  }
}

@media (max-width: 414px) {
  header {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  header {
    height: 100vh;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
  width: 100%;
  position: relative;
}

nav label {
  color: white;
}

.hamburger-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 60;
}

.hamburger-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
  background: #A6A3CE;
  border-radius: 20px 0 20px 20px;
  position: absolute;
  padding: 3rem 5rem;
  top: 12rem;
  z-index: 50;
  -webkit-animation: slide-in-right 0.3s forwards;
          animation: slide-in-right 0.3s forwards;
}

.hamburger-menu a {
  color: black;
}

.hide-menu {
  display: none;
}

nav label {
  display: block;
  font-size: 65px;
  margin-right: 30px;
  z-index: 10;
}

.hamburger-toggle {
  opacity: 0;
}

.reveal-menu {
  display: block;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 7.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0 0 3.5rem 0;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 6.5rem;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

header h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  margin: 0 0 2.5rem 0;
  font-size: 3.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  header h2 {
    font-size: 3.4rem;
  }
}

@media (max-width: 414px) {
  header h2 {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  header h2 {
    font-size: 2.5rem;
  }
}

.hero-center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

@media (max-width: 320px) {
  .hero-center-flex {
    padding-top: 0;
  }
}

.profile-picture {
  width: 25%;
  position: absolute;
  bottom: -8rem;
  -webkit-animation: rotate-diagonal-1 1s forwards;
          animation: rotate-diagonal-1 1s forwards;
}

.profile-picture img {
  border-radius: 50%;
  width: 100%;
  border: 10px solid whitesmoke;
}

@media (max-width: 1000px) {
  .profile-picture {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    bottom: -8rem;
    width: 40%;
  }
}

@media (max-width: 414px) {
  .profile-picture {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .profile-picture {
    width: 80%;
    bottom: -1rem;
  }
}

.header-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0 0 2.5rem 0;
}

.header-icon-list li {
  margin: 0 1rem;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100rem);
    transform: translateX(100rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100rem);
    transform: translateX(100rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

@keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

h2 {
  font-size: 4.5rem;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8.5rem;
  padding-top: 4rem;
}

.about-me h2 {
  font-size: 4rem;
  margin: 0;
}

.about-me p {
  width: 50%;
  margin-top: 2rem;
  line-height: 3rem;
}

@media (max-width: 1000px) {
  .about-me p {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .about-me p {
    width: 75%;
  }
}

.skills {
  text-align: center;
  padding-top: 2.5rem;
  margin-top: 5rem;
}

.skills h2 {
  margin: 0;
}

.skills-icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0 5rem 0;
  margin: 0;
}

.skills-icons i {
  display: block;
  font-size: 5.8rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .skills-icons i {
    margin-top: 1.5rem;
  }
}

.skills-icons li {
  margin: 1rem 2.5rem;
}

.skills-icons svg {
  display: block;
  font-size: 5.8rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .skills-icons svg {
    margin-top: 1.5rem;
  }
}

.skill-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-icon-container p {
  margin: 0;
}

.recent-work {
  margin-top: 5rem;
  padding: 6rem 0;
  background: #f0f2f7;
  position: relative;
}

.recent-work h2 {
  text-align: center;
  margin: 0;
}

.flickity-button {
  position: absolute;
  top: 5rem;
}

.recent-work-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.recent-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.recent-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-work-box p {
  width: 50%;
}

@media (max-width: 768px) {
  .recent-work-box p {
    width: 70%;
  }
}

.recent-work-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-work-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .recent-work-info ul {
    margin-bottom: 4rem;
  }
}

.recent-work-info li, .recent-work-info svg {
  font-size: 2.3rem;
}

.recent-work-info i {
  font-size: 4rem;
}

.screenshot-container {
  width: 50%;
  margin: 2rem 0;
}

.screenshot-container img {
  width: 100%;
}

@media (max-width: 768px) {
  .screenshot-container {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .screenshot-container {
    width: 90%;
  }
}

.recent-work-links a {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 3rem;
  border: 2px solid #a6a3ce;
  color: black;
  padding: 3rem;
  text-align: center;
  display: inline-block;
}

@media (max-width: 414px) {
  .recent-work-links a {
    width: 80%;
    margin: 1.5rem auto;
    display: block;
  }
}

.recent-work-links a:hover {
  background: blue;
  color: white;
}

.contact-form {
  padding: 5rem 0 5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b427a), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(#4b427a, rgba(0, 0, 0, 0.7));
  color: white;
}

.contact-form h2 {
  text-align: center;
  color: white;
}

form {
  border: 2px solid white;
  padding: 5rem;
}

form textarea {
  width: 70%;
  display: block;
  margin: 2rem auto;
  resize: none;
}

@media (max-width: 414px) {
  form textarea {
    width: 100%;
  }
}

form button {
  width: 15rem;
  height: 5rem;
  border-radius: 5px 5px;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

form button:hover {
  background: tomato;
}

@media (max-width: 768px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 414px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.name-email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

@media (max-width: 768px) {
  .name-email-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 414px) {
  .name-email-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .name-email-box input {
    margin: 1rem 0;
  }
}

@media (max-width: 414px) {
  .name-email-box input {
    margin: 1rem 0;
    width: 100%;
  }
}

.contact-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-box-flex i {
  display: inline;
  margin: 0 1.5rem;
  font-size: 3rem;
}

.contact-box-flex h4 {
  margin: 0;
  margin-bottom: 1.5rem;
}

.contact-box-flex p {
  margin: 0;
}

@media (max-width: 414px) {
  .contact-box-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-box {
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

@media (max-width: 320px) {
  .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-box p {
    margin-top: 0.8rem;
  }
}

.footer-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

.footer-icon-list li {
  margin: 0 1rem;
}

.footer-icon-list i {
  color: white;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background: #f0f2f7;
}

footer p {
  margin: 0;
}

.credit {
  margin-top: 2rem;
}
