article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 2rem;
  color: black;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 5%;
}

ul {
  list-style-type: none;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.85))), url("../images/hero-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)), url("../images/hero-background.jpg");
  height: 85vh;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

header i {
  border-radius: 50%;
  padding: 0.5rem;
  border: 2px solid;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
  height: 10vh;
  background: rebeccapurple;
}

.hamburger-menu {
  list-style: none;
  display: none;
  margin: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.hamburger-menu li {
  margin: 0 1rem;
  display: inline;
}

nav label {
  display: block;
  font-size: 65px;
  margin-right: 30px;
  z-index: 10;
}

.hamburger-toggle {
  opacity: 0;
}

.reveal-menu {
  display: block;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

header h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  margin: 0 0 2.5rem 0;
}

.hero-center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.profile-picture {
  width: 25%;
  -webkit-animation: slide-in-right 1s forwards;
          animation: slide-in-right 1s forwards;
  position: absolute;
  bottom: -8rem;
}

.profile-picture img {
  border-radius: 50%;
  width: 100%;
  border: 10px solid whitesmoke;
}

.header-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0 0 2.5rem 0;
}

.header-icon-list li {
  margin: 0 1rem;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
}

.about-me h2 {
  font-size: 4rem;
  margin: 0;
}

.about-me p {
  width: 50%;
  margin-top: 2rem;
}

.skills {
  background: #f0f2f7;
  text-align: center;
  padding-top: 2.5rem;
  margin-top: 5rem;
}

.skills h2 {
  margin: 0;
}

.skills-icons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0 5rem 0;
  margin: 0;
}

.skills-icons i {
  display: block;
  font-size: 5.8rem;
  margin-bottom: 1.5rem;
}

.skills-icons li {
  margin: 1rem 2.5rem;
}

.skills-icons svg {
  display: block;
  font-size: 5.8rem;
  margin-bottom: 1.5rem;
}

.skill-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-icon-container p {
  margin: 0;
}

.recent-work {
  margin-top: 5rem;
}

.recent-work h2 {
  text-align: center;
  margin: 0;
}

.recent-work-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.recent-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f2f7;
  width: 100%;
}

.recent-work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-work-box p {
  width: 50%;
}

.recent-work-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-work-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recent-work-info li, .recent-work-info svg {
  font-size: 2.3rem;
}

.recent-work-info i {
  font-size: 4rem;
}

.screenshot-container {
  width: 50%;
}

.screenshot-container img {
  width: 100%;
}

.recent-work-links a {
  font-size: 2.5rem;
  display: block;
  border: 2px solid tomato;
  margin-bottom: 1rem;
  width: 100%;
}

footer {
  text-align: center;
}

footer p {
  margin: 0;
}
